<div class="locations-list">
  <div class="locations location-header">
   <h1 class="row row-max">{{ section.settings.title }}</h1>
     <p class="row row-max"><span>{{ section.settings.subheading }}</span></p>
  </div>

  <div class="page-width w-100">
    {% render 'breadcrumbs' %} 
  </div>

  <div id="stickyMenu">
    <div class="row row-max">
      <div class="location-item">
        <div>
          <h3>elizabeth</h3>
          <p>2001 E 7th Street Charlotte, NC 28204</p>        
          <p>phone: 704-900-5268</p>
          <p>email: elizabeth@sunflourbakingcompany.com</p>
          <p>Open every day from 7:00am to 4:00pm</p>
          <a href="/pages/charlotte-bakery-elizabeth">see location info »</a>
        </div>
        <div>
          <iframe loading="lazy" style="border: 0;" height="300" width="400" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3259.762354373998!2d-80.819335684754!3d35.21238798030621!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88569ff9698cf22d%3A0x1b4f8d54bf8a0617!2sSunflour+Baking+Company!5e0!3m2!1sen!2sin!4v1543250124207" referrerpolicy="no-referrer-when-downgrade" allowfullscreen=""></iframe>
        </div>
      </div>

      <div class="location-item">
        <div>
          <h3>dilworth</h3>
          <p>220 East Boulevard Charlotte, NC 28203</p>   
          <p>phone: 704-332-5222</p>
          <p>email: dilworth@sunflourbakingcompany.com</p>
          <p>Open every day from 7:00am to 4:00pm</p>
          <a href="/pages/charlotte-bakery-dilworth">see location info »</a>
        </div>
        <div>
          <iframe loading="lazy" style="border: 0;" height="300" width="400" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3259.820373605945!2d-80.859349684754!3d35.210942980306676!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88569f79b2cb0cd7%3A0xb0ec7ec30cb3cc8d!2sSunflour+Baking+Company!5e0!3m2!1sen!2sin!4v1543406735451" referrerpolicy="no-referrer-when-downgrade" allowfullscreen=""></iframe>
        </div>
      </div>

      <div class="location-item">
        <div>
          <h3>harrisburg</h3>
          <p>5040 NC-49, Harrisburg, NC 28075</p>  
          <p>phone: 980-258-8000</p>
          <p>email: harrisburg@sunflourbakingcompany.com</p>
          <p>Open every day from 7:00am to 4:00pm</p>
          <a href="/pages/harrisburg-nc-bakery">see location info »</a>
        </div>
        <div>
          <iframe loading="lazy" style="border: 0;" height="300" width="400" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3255.3670157190436!2d-80.66189728475102!3d35.3217065802796!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88541a439d483389%3A0xb07b0e6f9fee8143!2sSunflour+Baking+Company!5e0!3m2!1sen!2sin!4v1543407796934" referrerpolicy="no-referrer-when-downgrade" allowfullscreen=""></iframe>
        </div>
      </div>

      <div class="location-item">
        <div>
          <h3>ballantyne</h3>
          <p>14021 Conlan Circle, Charlotte, NC 28277</p> 
          <p>phone: (980) 237-8881</p>
          <p>email: ballantyne@sunflourbakingcompany.com</p>
          <p>Open every day from 7:00am to 4:00pm</p>
          <a href="/pages/ballantyne-bakery">see location info »</a>
        </div>
        <div>
          <iframe loading="lazy" style="border: 0;" height="300" width="400" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3266.0304867635587!2d-80.85619958475822!3d35.055976880344744!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88569d280882917f%3A0x7ba2a64face70e36!2sSunflour+Baking+Company!5e0!3m2!1sen!2sin!4v1543408222894" referrerpolicy="no-referrer-when-downgrade" allowfullscreen=""></iframe>
        </div>
      </div>

      <div class="location-item">
        <div>
          <h3>noda</h3>
          <p>515 Jordan Pl Charlotte NC 28205</p>  
          <p>phone: (704) 900-7305</p>
          <p>noda@sunflourbakingcompany.com</p>
          <p>Open every day from 7:00am to 4:00pm</p>
          <a href="/pages/charlotte-bakery-noda">see location info »</a>

          <!-- <p class="coming-soon">coming soon!</p> -->
        </div>
        <div>
          <iframe loading="lazy" style="border: 0;" height="300" width="400" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3258.5429163007852!2d-80.812017!3d35.2427468!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8856a075c5c57883%3A0x6b29fbcd5368f5c9!2s515%20Jordan%20Pl%2C%20Charlotte%2C%20NC%2028205!5e0!3m2!1sen!2sus!4v1689622835996!5m2!1sen!2sus" referrerpolicy="no-referrer-when-downgrade" allowfullscreen=""></iframe>
        </div>
      </div>
      
    </div>
  </div>
</div>

<style>
  .coming-soon {
    color: #cb0404;
    margin-top: 40px;
    font-size: 24px;
    font-weight: bold;
  }
  .location-header {
    background-image: url({{section.settings.header_image | img_url: 'master'}});
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover;
    padding: 40px;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
    background-color: rgba(0,0,0,0.5);
    margin: 0;
  }
  .locations-list #stickyMenu {
    margin: 0;
    background: transparent;
  }
  .location-header h1 {
    color: #fff;
  }
  .location-header p {
    max-width: 1024px;
    text-align: center;
    display: block;
    margin: 20px auto;
    float: none;
    font-size: 22px;
  }
  .location-header span {
    color: #fff !important;
    background-color: unset !important;
  }  
  .location-item {
    border-style: solid;
    border-width: 5px;
    border-radius: 4px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
    background-color: #fff;
    margin: 25px 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px 20px;
    border-color: #873c17;
  }
  .location-item h3 {
    margin: 0;
  }
  .location-item a {
    margin: 0;
  }
  .location-item p {
    float: unset;
    margin: 0;
  }

  @media (max-width: 767px) {
    .location-item {
      display: grid;
    }
  }
</style>

{% schema %}
  {
    "name": "Locations",
    "class": "locations-list-section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "subheading",
        "label": "Subheading"
      },
      {
        "type": "image_picker",
        "id": "header_image",
        "label": "Header image"
      }
    ],
    "presets": [
      {
        "name": "Locations" 
      }
    ]
  }
{% endschema %}
