<div class="m-featured-watch-collection">

</div>

{% schema %}
{
    "name": "Featured watch collection",
    "class": "m-featured-watch-collection-section",
    "settings": [
        {
            "type": "color",
            "id": "back_color",
            "label": "Section background color"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "text",
            "id": "des_title",
            "label": "Description title"
        },
        {
            "type": "text",
            "id": "col_title",
            "label": "Collection title"
        },
        {
            "type": "text",
            "id": "link_text",
            "label": "Link text"
        }
    ],
    "presets": [
        {
            "name": "Featured watch collection"
        }
    ]
}
{% endschema %}
