<div class="m-footer-icon-text">
    {% for block in section.blocks %}
        <div class="m-footer-icon-text-wrap">
            <a class="m-footer-icon-text-icon" href="{{ block.settings.link }}">
                <img class="m-footer-icon-text-icon-image" src="{{ block.settings.image | img_url: 'master' }}">
            </a>    
            <div class="m-footer-icon-text-text">
                <h3>{{ block.settings.heading }}</h3>
                <p>{{ block.settings.description }}</p>
            </div>
        </div>
    {% endfor %}
</div>

<style>
.m-footer-icon-text-section {
    background: #151515;
    border-top: 1px solid rgba(255, 255, 255, 0.30);
    border-bottom: 1px solid rgba(255, 255, 255, 0.30);
    padding: 20px 100px;
}
.m-footer-icon-text {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.m-footer-icon-text-wrap {
    display: flex;
    align-items: center;
    gap: 10px;
    width: calc(25% - 22.5px);
    max-width: 400px;
}
.m-footer-icon-text-icon {
    display: block;
    text-decoration: none;
    line-height: 0;
}
.m-footer-icon-text-icon-image {
    display: block;
    width: 62.25px;
    height: auto;
}
.m-footer-icon-text-text {
    width: calc(100% - 70px);
}
.m-footer-icon-text-text>h3 {
    color: #FFF;
    /* Heading/Extra Small */
    font-family: Legitima;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 22px */
    margin: 0;
    margin-bottom: 5px;
}
.m-footer-icon-text-text>p {
    color: rgba(255, 255, 255, 0.70);
    /* Caption/Regular */
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 13.2px */
    margin: 0;
}
.m-footer-icon-text-text>p a {
    color: rgba(255, 255, 255, 0.70) !important;
}

@media only screen and (max-width:1440px) {
    .m-footer-icon-text-section {
        padding: 20px 100px;
    }
    .m-footer-icon-text {
        display: flex;
        flex-wrap: wrap;
        gap: 20px 40px;
    }
    .m-footer-icon-text-wrap {
        gap: 20px;
        width: calc(50% - 20px);
    }
    .m-footer-icon-text-icon-image {
        width: 60px;
        margin: 0;
    }
    .m-footer-icon-text-text {
        width: calc(100% - 80px);
        text-align: left;
    }
    .m-footer-icon-text-text>h3 {
        font-size: 20px;
        margin-bottom: 5px;
    }
    .m-footer-icon-text-text>p {
        font-size: 12px;
        line-height: 160%; /* 22.4px */
    }
}

@media only screen and (max-width: 749px) {
    .m-footer-icon-text-section {
        padding: 20px 20px;
    }
}

@media only screen and (max-width: 600px) {
    .m-footer-icon-text-section {
        padding: 20px 20px;
    }
    .m-footer-icon-text {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    .m-footer-icon-text-wrap {
        width: 100%;
    }
    .m-footer-icon-text-icon-image {
        width: 60px;
        margin: 0;
    }
    .m-footer-icon-text-text {
        width: calc(100% - 80px);
        text-align: left;
    }
    .m-footer-icon-text-text>h3 {
        font-size: 20px;
        margin-bottom: 5px;
    }
    .m-footer-icon-text-text>p {
        font-size: 12px;
        line-height: 160%; /* 22.4px */
    }
}

</style>

{% schema %}
{
    "name": "Custom footer icon text",
    "class": "m-footer-icon-text-section",
    "tag": "section",
    "settings": [
    ],
    "blocks": [
        {
            "type": "icon_text",
            "name": "Icon with text",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "text",
                    "id": "heading",
                    "label": "Heading"
                },
                {
                    "type": "richtext",
                    "id": "description",
                    "label": "Description"
                },
                {
                    "type": "url",
                    "id": "link",
                    "label": "Link"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Custom footer icon text"
        }
    ]
}
{% endschema %}
