<div class="m-pendants-hero">
    <div class="m-pendants-hero-des">
        <h1>{{ section.settings.heading }}</h1>
        <h2>{{ section.settings.subheading }}</h2>
        <p>{{ section.settings.description }}</p>
    </div>
    <div class="m-pendants-hero-video-wrap">

    </div>
</div>
<div class="m-pendants-hero-arrow">
    {% render 'icon-bottom-arrow' %}
</div>

{% schema %}
{
    "name": "Pendants landing hero",
    "class": "m-pendants-landing-hero-section",
    "settings": [
        {
            "type": "image_picker",
            "id": "back_image",
            "label": "Background image"
        },
        {
            "type": "text",
            "id": "heading",
            "label": "Heading"
        },
        {
            "type": "text",
            "id": "subheading",
            "label": "Subheading"
        },
        {
            "type": "textarea",
            "id": "description",
            "label": "Description"
        },
        {
            "type": "text",
            "id": "btn_text",
            "label": "Button text"
        },
        {
            "type": "url",
            "id": "btn_link",
            "label": "Button link"
        },
        {
            "type": "video",
            "id": "video",
            "label": "Video"
        }
    ],
    "presets": [
        {
            "name": "Pendants landing hero"
        }
    ]
}
{% endschema %}
