<div class="p-width shop-wrap">
   <div class="grid">
      <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth shop-page-full">
         <div class="section-header text-center">
         </div>
         <div class="rte row">
            {{ page.content }}
         </div>
         <div class="section-header text-center">
            <h2 class="no-bottom-margin">Browse Our Baked Goods & Products</h2>
         </div>
         <div id="otherProducts" class="row">
            <div class="customProduct">
               <a href="https://sunflourbakingcompany.com/collections/cake-jars">
                  <div class="cupCakeBox" style="text-align: center;">
                     <div class="cupcake"><img src="https://cdn.shopify.com/s/files/1/0079/6121/5087/files/popular-flavors-cake-jars-nationwide-shipping-1.jpg?v=1766423950" alt="Cake Jar - Cupcake in a Mason Jar - Buy online" /></div>
                     <h3>Cake Jars ~ New Flavors!</h3>                    
                  </div>
               </a>
            </div>
            <div class="customProduct">
               <a href="https://sunflourbakingcompany.com/products/english-muffins">
                  <div class="cupCakeBox" style="text-align: center;">
                     <div class="cupcake"><img src="https://cdn.shopify.com/s/files/1/0079/6121/5087/files/English_Muffins.jpg?v=1639166019" alt="English muffins Buy English Muffins Online" /></div>
                     <h3>Sourdough English Muffins</h3>
                     <!-- <p class="product-title" style="text-align: center;"><span class="h4 grid-view-item__title product-card__title">Cake Jars</span><br/>$9.95</p>
                     <span class="buyNow">ORDER NOW</span> -->
                  </div>
               </a>
            </div>
            <div class="customProduct">
               <a href="https://sunflourbakingcompany.com/collections/muffins">
                  <div class="cupCakeBox" style="text-align: center;">
                     <div class="cupcake"><img src="https://cdn.shopify.com/s/files/1/0079/6121/5087/files/Blueberry_Muffin_Single-min_98f99291-c41d-4afe-97e6-217b0d08dd25.jpg?v=1765273283" alt="Muffins Buy Muffins Online" /></div>
                     <h3>Jumbo Muffins</h3>
                     <!-- <p class="product-title" style="text-align: center;"><span class="h4 grid-view-item__title product-card__title">Cake Jars</span><br/>$9.95</p>
                     <span class="buyNow">ORDER NOW</span> -->
                  </div>
               </a>
            </div>
         </div>
         <div>
            <div class="row">
               <div class="testimonial-content-home spaceTop homequote">
                  <blockquote>I sent my sister your cupcake jars as a surprise birthday present and she was very pleased! <span>Lee - Charlotte, NC</span></blockquote>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<style>
  .s-shop-page-section {
    padding-left: 40px;
    padding-right: 40px;
  }
  .shop-wrap>.grid>.grid__item {
  	margin: auto;
  }
  
  .shop-wrap .section-header {
  	display: none;
  }

  .shop-page-full {
    max-width: unset;
  }

  .shop-page-full #otherProducts {
    display: flex;
    gap: 20px;
  }

  .shop-page-full #otherProducts .customProduct {
    width: 33%;
  }
  
  .shop-page-full #otherProducts .customProduct h3 {
    font-weight: 600;
  }

  #shopify-section-{{section.id}} .grid__item div {
    text-align: center;
  }
  
  #shopify-section-{{section.id}} .title {
  	display: none;
  }
  
  a.featured-card {
  	width: 200px;
    background: #ea0909!important;
    padding: 7px 18px;
    border-radius: 25px;
    color: #fff;
    text-transform: lowercase;
    display: inline-block;
    font-family: Josefin Slab,serif;
    font-size: 16px;
    font-weight: 600;
    font-weight: 600!important;
    text-transform: lowercase;
    border-radius: 25px;
    min-height: auto!important;
    padding: 10px 18px 7px;
    margin-top: 10px;
    text-align: center;
  }
  
  .shop-wrap .buyNow {
    width: 200px;
    background: #ea0909!important;
    padding: 7px 18px;
    border-radius: 25px;
    color: #fff;
    text-transform: lowercase;
    display: inline-block;
    font-family: Josefin Slab,serif;
    font-size: 16px;
    font-weight: 600;
    font-weight: 600!important;
    text-transform: lowercase;
    border-radius: 25px;
    min-height: auto!important;
    padding: 10px 18px 7px;
    margin-top: 10px;
  }
  
  .shop-wrap img, .collection .grid__item img {
      border-radius: 25px;
  }
  
  @media only screen and ( max-width: 768px ) {
    html, body {
    	width: 100%;
        overflow-x: hidden;
    }
    
    .shop-wrap>.grid>.grid__item {
    	max-width: 100%;
    }
    
    .collection .grid__item {
    	max-width: 100%;
        width: 100%;
    }

    .shop-page-full #otherProducts {
        display: flex;
        flex-wrap: wrap;      
        gap: 0;
    }
  
    .shop-page-full #otherProducts .customProduct {
        width: 100%;
    }

    .s-shop-page-section {
        padding-left: 20px;
        padding-right: 20px;
    }
  }
</style>

{% schema %}
{
  "name": "S shop page",
  "tag": "section",
  "class": "s-shop-page-section",
  "settings": [],
  "presets": [
    {
      "name": "S shop page"
    }
  ]
}
{% endschema %}
