<div class="row row-max" id="options" style="text-align: center;">
<h1>order valentine's day gift boxes</h1>
<strong>Win Valentine's Day with help from Sunflour Baking Company. </strong>Make your sweetheart fall in love with you all over again with our exclusive Valentines Day Gift Box! Handcrafted and made fresh by our Pastry Chefs, our "naughty or nice" gift box will surely impress your loved one. Which will you pick? These beautiful boxes are ready to gift and sell out fast! <a href="#v-day-box">Get yours today!</a>

<h2>2 styles of “Naughty” or “Nice” – all boxes are gift ready!</h2>
<div class="valen-gift-row">
  <div class="valen-gift-card">
    <img src="https://cdn.shopify.com/s/files/1/0079/6121/5087/files/naughty2.png?v=1675189568">
    <h3>Naughty Box - Black Box with Black Ribbon</h3>
    <span>$39.99</span>
    <ul>
       <li>Chocolate Vanilla Cheesecake Tart with Chocolate Chantilly Cream & Chocolate Crisp Pearls</li>
       <li>Chocolate Mousse & Hazelnut Cream 4” French Macaron</li>
       <li>Chocolate Dipped Chocolate Cookies</li>
       <li>Chocolate Dipped Strawberries</li>     
    </ul>
  </div>
  <div class="valen-gift-card">
    <img src="https://cdn.shopify.com/s/files/1/0079/6121/5087/files/nice2.png?v=1675189568">
    <h3>Nice Box - Blush Box & White Ribbon</h3>
    <span>$39.99</span>
    <ul>
       <li>Vanilla Cheesecake Tart with Fresh Berries & Chantilly Cream</li>
       <li>Fresh Raspberry & Vanilla Mousse 4” French Macaron</li>
       <li>Pink Chocolate Dipped Sugar Cookies</li>
       <li>Pink Chocolate Dipped Strawberries</li>     
    </ul>
  </div>
</div>
  
<div data-paperform-id="mjas7dyl" id="v-day-box"></div>
</div>

<script>// <![CDATA[
(function() {var script = document.createElement('script'); script.src = "https://paperform.co/__embed.min.js"; document.body.appendChild(script); })()
// ]]></script>

<style>
  .valen-gift-row {
    display: flex;
    column-gap: 40px;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 0 20px;
  }

  .valen-gift-card ul {
    text-align: left;
  }

  .valen-gift-card {
    width: 100%;

  }

  .valen-gift-card img {
    border-radius: 25px;
    max-width: 320px;
  }

  @media only screen and (max-width: 990px) {
    .valen-gift-row {
      flex-direction: column;
    }
  }
</style>

{% schema %}
{
  "name": "Valentines Gift",
  "class": "section",
  "settings": [
 
  ],
  "presets": [
    {
      "name": "Valentines Gift"
    }
  ]
}
{% endschema %}
